body {
    background-color: #32292F;
    color: #D1E3DD;
}

.container {
    text-align: center;
}

.view{
    width: 75px;
    height: 20px;
    background-color: purple;
    margin: .6em 0px -2px 0px;
    display: inline-block;
    border-top: solid 1px whitesmoke;
    border-right: solid 1px whitesmoke;
    border-left: solid 1px whitesmoke;
    display: none;
    /*border-radius: 5px;*/
}

.tabSelected{
	height:30px;
	vertical-align: bottom;
}

.channel {
    /*dynamically created div to hold individual channels*/
    display: inline-grid;
    text-align: left;
    display: block;
    margin: 0 auto;
    background-color: #575366;
    border: 1px solid #D1E3DD;
    overflow: hidden;
    width: 600px;
}

.contents {
    /*channel name, online status*/
    display: inline-block;
    margin-left: .5em;
}

p.status {
    margin-left: 13em;
}

div.channel h2 {
    line-height: .5em;
}

div.channel img {
    margin: 0 3em;
    border-radius: 55px;
    padding: .7em;
    width: 100px;
    float: left;
}
i.contents.fa{
	color: green;

}
div.channel.error {
    display: none;
}

div.channel.error h3 {
    padding: .7em;
    float: left;
}

div#error p {
    margin: 0 12.7em;
}

a:link {
    color: #5762D5;
}

a:visited {
    color: ##6240A1;
}
